/Hardware/mainDisplay/nbproject/private/
/Hardware/mainDisplay/build/
/Hardware/mainDisplay/dist/
/Hardware/Network/nbproject/private/
/Hardware/Network/build/
/Hardware/Network/dist/
/JavaApplication15/nbproject/private/
/Network/nbproject/private/
/Network/build/
/Network/dist/