#btnHome {
    -fx-background-image: url("images/home.png");
    -fx-background-size: 100%;
    -fx-background-color: transparent;
}

#btnSlide {
    -fx-background-image: url("images/doubleleft.png");
    -fx-background-size: 100% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0 50%;
    -fx-background-color: transparent;
}

#hboxHome {
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 10 0 0 10;
}