.dial1:pressed{
    -fx-border-color: #009999;
    -fx-background-color: mediumseagreen; 
     -fx-effect:innershadow(three-pass-box, rgba(0,0,0,0.7), 10, 0, 5, 5.1);
}
.dial1{
    -fx-border-color: khaki; 
    -fx-font-size: 15;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-effect:innershadow(three-pass-box,rgba(0,0,0,0.7), 3, 0, 2, 2.1);
}

