.mainbackground{
    -fx-background-radius: 5.0;
    -fx-background-color: rgba(68,68,68,1);
    -fx-border-radius: 5.0;
    -fx-border-color:#ffffff;
    -fx-border-width: 2.0px;
}

.btnNumber {
    -fx-border-color: khaki; 
    -fx-background-color: #ffffff;
    -fx-font-size: 30;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
    -fx-effect:innershadow(three-pass-box,rgba(0,0,0,0.7), 3, 0, 2, 2.1);
    -fx-border-radius: 5;
     -fx-background-radius: 5;
}

.tilebox {
    -fx-background-color: transparent;
}

.btnControl {
    -fx-background-color: #ffffff;
}