#noticePopupBackground {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.popupLabel {
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
}
