<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN"> <!-- log4자체의 -->
	<!-- 로그를 어디에 출력할 것인가를 설정 -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{2} %M() - %msg%n" />
		</Console>
	</Appenders>

	<!-- 로깅 대상을 설정 : 클래스 단위 -->
	<Loggers>
		<Logger name="com.mycompany.myapp" level="INFO"/>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
